/* LIB */
/* TODO: search where to put the fonts */
@font-face {
  font-family: "MS Sans Serif";
  src: url("./fonts/W95FA.otf") format("opentype");
}

@font-face {
  font-family: "MS Sans Serif Bold";
  src: url(./fonts/MS\ Sans\ Serif\ Bold.ttf) format("truetype");
}

body {
  font-size: 1.2rem;
  font-family: "MS Sans Serif", sans-serif;
}

a {
  color: #222222;
}
p {
  margin: 0;
}

/* APP */
.wrapper {
  display: grid;
  grid-template-columns: 10% 90%;
  gap: 10px;
}
.stickySideBar {
  grid-column: 1 / 2;
}
.stickySideBar div {
  position: sticky;
  top: 12px;
}
.sectionContainer {
  margin: 5rem 0;
}
.componentsContainer {
  display: flex;
  margin: 2rem 0;
}
.componentContainer {
  margin-right: 2rem;
}
.codeWindow {
  width: 80rem;
  margin-bottom: 2rem;
}
.codeContainer {
  padding: 1rem 1rem 1rem 0.3rem;
  height: auto;
  background-color: #000;
}
