@font-face {
  font-family: "MS Sans Serif";
  src: url("./fonts/W95FA.otf") format("opentype");
}

@font-face {
  font-family: "MS Sans Serif Bold";
  src: url(./fonts/MS\ Sans\ Serif\ Bold.ttf) format("truetype");
}

body {
  font-family: "MS Sans Serif", sans-serif;
}